
body {
    font-family: 'Arial', sans-serif;
    background-color: #303030;
    text-align: center;
    padding: 40px;
}


.error-message {
    background-color: rgba(138, 72, 72, 0.2); /* Transparent red background */
    color: rgb(252, 194, 194);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto; /* Center horizontally */
    width: 90%; /* Adjust the width as needed */
}


